:root {
  color: #333;
  font: 100% Helvetica, sans-serif; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbXBvbmVudHMvcGFnZS5jc3MiLCJjb21wb25lbnRzL3ZhcnMuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0MsWUNBbUI7RURDbkIsaUNDRm9DLEVER3BDIiwiZmlsZSI6ImltcG9ydHMucmVzdWx0LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIjpyb290IHtcblx0Y29sb3I6ICRwcmltYXJ5LWNvbG9yO1xuXHRmb250OiAxMDAlICRmb250LXN0YWNrO1xufVxuIiwiJGZvbnQtc3RhY2s6ICAgIEhlbHZldGljYSwgc2Fucy1zZXJpZjtcbiRwcmltYXJ5LWNvbG9yOiAjMzMzO1xuIl19 */